# Renombra este archivo a .env y ajusta tus credenciales
# Reemplaza 'usuario' y 'password' por los que usas en tu psql local.
# Si tu base de datos no se llama 'pyroguard_db', cámbialo también.

DATABASE_URL=postgresql://postgres:password@localhost:5432/pyroguard_db

# (Futuro) URL para Celery / Redis
REDIS_URL=redis://localhost:6379/0
    